
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  overflow:auto;
}
.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
}


.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

img.scr {
    text-align: topleft;
    width: 100%;
}


dd.s{
list-style-type:disc;
}
